.checkbox {
    position: absolute;
    display: none;
    height: 32px;
    width: 32px;
    right: 20px;
    top: 20px;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}

.hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
}
.hamburger-lines .line, .hamburger-lines{
    opacity: 0;
}

.hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
.hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
  
.hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
input[type="checkbox"]:checked ~ .container {
    visibility: visible;
}

input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}
  
input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}
  
input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

input[type="checkbox"]:checked ~ .container .menu-items {
    transform: translateX(-100%);
    transition: 0.5s;
  }

