h2 {
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #C9271F;
}

.cart-main {
    -webkit-box-shadow: 0px 0px 24px -7px rgba(34, 60, 80, 0.33);
    -moz-box-shadow: 0px 0px 24px -7px rgba(34, 60, 80, 0.33);
    box-shadow: 0px 0px 24px -7px rgba(34, 60, 80, 0.33);
    border-radius: 20px;
    margin: 30px;
    background: #ffffff;
}

.cart-card {
    font-family: Roboto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}


.cart-card h3{
    text-align: center;
}

.cart-table:nth-child(even) {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.result {
    border-top: 2px solid #C9271F;
    padding: 10px; 
}

.result-price {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.result-price h5 {
    font-family: Roboto;
}
.dont-know-what-to-choose{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    column-gap: 20px;
    padding: 30px;
}

.empty-cart{
   text-align: center;
}

.call-us {
    display: grid;
    margin-right: 50px;
}

.call-us .forms-input{
    margin: 5px;
    width: 270px;
    height: 40px;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 5px;
    background: #fff;
    padding: 0px 0px 0px 10px;
    font-size: 16px;
    line-height: 100%;
}

.submit{
    
    margin: 10px;
    margin-left: 60px;
    padding: 11px;
    width: 150px;
    color: #FFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    background: #C11111;
    border-radius: 10px;
    border: 0;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all .4s ease;
    text-align: center;
}


