*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%; 
    width: 100%;
    overflow-x: hidden;
}

body {
    background: rgb(235, 235, 235);
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    font-family: Raleway;
    position: relative;
    /* display: grid;
    grid-template-rows: 65px 1fr 30%; */
   
}

.for-catalog-start {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 220px 1fr 90px;
}

/*Навигация*/ 

.navigation {
    background: #C9271F;
    height: 45px;
    padding: 10px;
}
 
a:active, a:hover, a{
    text-decoration: none;
    /* color: rgb(255, 255, 255); */
}

.main-nav a {
    color: white;
}

.container{
    width: 100%;
}

.menu-items{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}

#main-nav {
    height: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
}


#main-nav li {
    margin-bottom: 1px;
    font-size: 12px;
    list-style: none;
    color: white;
    font-family: Raleway;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}

#main-nav .menu-item a {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}
#main-nav .menu-item a:after {
    background-color: white;
    display: block;
    content: "";
    height: 2.5px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

#main-nav .menu-item a:hover:after, #main-nav .menu-item a:focus:after {
    width: 100%;
}

/*Footer*/

footer { 
    position: relative;
    font-size: 10px;
    font-family: Raleway;
    color: white;
    background: #C9271F;
    padding: 10px 30px 40px 30px;
    display: grid;
    grid-template-columns: 30% repeat(3, 1fr);
    grid-template-rows: 100%;
    column-gap: 10px;
}

.for-img{
    width: 30px;
    height: 30px;
    
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 7px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.quick-links h6 a{
    text-decoration: none;
    color: white;
}

.social-media {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.about-us{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 50% 25%;
}

.quick-links, .shop {
    display: grid;
    grid-template-rows: 20% repeat(6, 1fr);
}

footer::before {
    font-family: Roboto;
    display: grid;
    justify-items: center;
    align-items: center;
    /* content: "Copyright © 2022 Student MIREA All Rights Reserved"; */
    content: "Парусов Павел ИКБО-30-21";
    position: absolute;
    width: 100%;
    height: 15px;
    left: 0;
    font-size: 8px;
    bottom: 0;
    background: #7f1a15;
}

.contacts-images {
    display: grid;
    grid-template-columns: 20px 1fr;
    row-gap: 10px;
    font-family: Roboto;
    letter-spacing: 1px;
}


.contact-us{
    display: grid;
    row-gap: 5px;
    grid-template-rows: repeat(3, 1fr);
}

/*Main*/

.catalog{
    margin-right: 10px;
    padding: 15px 30px 30px 20px;
    width: 190px;
}
.catalog-item a{
    color: black;
}
.catalog-menu {
    position: relative;
    height: 40px;
    background: #C9271F;
    border-radius: 5px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    display: grid;
    align-items: center;
    padding-left: 5px;
    cursor: pointer;
}

.arrow{
    transform: rotate(90deg);
    position: absolute;
    right: 17px;
}

.show {
    visibility: visible !important;
}

.catalog-list {
    background: white;
    visibility: hidden;
    border-radius: 5px;
    list-style: none;
    box-shadow: 10px 0px 20px rgb(75 85 116 / 30%);
}

.catalog-item {
    position: relative;
    padding-left: 3px;
    display: grid;
    align-items: center;
    font-family: 'Raleway';
    height: 30px;
    font-size: 14px;
}

.catalog-item::after {
    content: ">";
    position: absolute;
    right: 17px;
}

.catalog-item > ul{
    width: 155px;
    z-index: 10;
    display: none;
    list-style: none;
    position: absolute;
    right: -155px;
    border-radius: 5px;
    top: 0px;
    background: #C9271F;
}

.catalog-item > ul >li {
    padding-left: 3px;
    padding-right: 10px;
    display: grid;
    align-items: center;
    font-family: 'Raleway';
    height: 30px;
    font-size: 14px;
}

.catalog-item > ul >li a{
    color: white;
}

.bordered {
    border-bottom: 1px solid black;
    z-index: 5;
}

.catalog-item:hover > ul {
    display: block;
}

/*Cart*/

.cart-image-href {
    margin: 10px 30px 20px 20px;
    position: relative;
    z-index: 10;
    top: 10px;
    right: 10px;
}

.counter {
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: Roboto;
    font-size: 15px;
    color: white;
    position: absolute;
    border-radius: 50%;
    top: -5px;
    right: -13px;
    width: 20px;
    height: 20px;
    background: #C9271F;
}



